 <div  class="container margin-sup animate__animated animate__fadeIn animate__delay-6s" >
    
      
       <button class="info info-total"> {{count}} resultado/s</button>
      <div class="row" style="margin-bottom:20px">
         
        
          <div style="text-align: center;">
        <a href="/publicaciones">
       <button type="button" class="btn btn-outline-secondary" style="width: fit-content;margin-bottom:40px" >
        Ver todas las publicaciones
       </button>
       </a>
       </div>
      
         
        {% for post in publicaciones %}
       
          {% if  publicaciones|length > 1 %}
       
        <div class="col-md-4" >
         <div class="card"  style="height: 55vh;margin-bottom:5vh">
        
          
       

          <div class="card-body" style="position: relative">
            <h4 class="card-title">{{post[1]}}</h4>
            <p id="{{valores.URL}}/publicaciones_portitulo/{{post[1]}}" onclick="portapapeles(this.id)" class="card-text url-clip"><strong>Copy Url de este post</strong> </p>
                         
          <img   onclick="publicacion('/post/{{post[5]}}')" class="card-img-top img-responsive center-block" src="/img/{{post[2]}}" alt="post" />
        
            
            <a name="" id="" class="btn btn-primary" style="position:absolute;bottom:10px;display:none"  role="button"  >Ver publicación</a>
            
          </div>
         </div>
       
        </div>
            

             {% elif post[5] !="" %}
             <div class="container-fluid" style="text-align: center;">
               <iframe id="publicacion"   onclick="publicacion('/post/{{post[5]}}')" src="/post/{{post[5]}}"  width="100%" onload='resizeIframe(this)' frameborder="0" ></iframe>
             </div>  
            {% endif %}
          {% endfor %}
         
          
        
      </div>
        <div class="container-fluid"style="text-align: center;">
<iframe id="publicacion"   style="display:none"src=""  frameborder="0"  width="100%" onload='resizeIframe(this)'>
</iframe>
</div>
  </div>
  
    {% if not publicaciones %}
    <h1 style="text-align:center; margin-top:60px">Consulta sin contenido</h1>
 
    
    {% endif %}
     {% if  publicaciones %}
      <div style="text-align:center;">
        <a href="/publicaciones">
       <button type="button" class="btn btn-outline-secondary" style="width: fit-content;" >
        Ver todas las publicaciones
       </button>
       </a>
       <br>
        <br>
         <br>
          <br>
          <br>
          <br>
       </div>
      
       {%endif%}
      
       {% include "sitio/footer.html"%}
        <a href='#' class='scroll-top'>
    <svg height='35' viewBox='0 0 24 24' width='35' xmlns='http://www.w3.org/2000/svg'>
       <path d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/>
       <path d='M0 0h24v24H0z' fill='none'/>
    </svg>
</a>

