{% include "sitio/header-sitio.html" %}
<main>
  <img
    id="blog"
    title="Menú de opciones"
    onclick="mostrar_menu()"
    src="{{url_for('static', filename='/img/blog.png')}}"
    alt="El Blog de Eduardo Cabrera"
  />
  <div class="container-fluid py-5 presentacion" style="max-width: 60vw">
    <h2 class="display-5 fw-bold">Compartiendo mis cosas {{mensaje}}</h2>
    <p class="col-md-12 texto-entrada">
      He creado un proyecto sencillo y minimalista. Tanto el servidor web (alojado en un data center de Frankfurt), como el servidor de BBDD, pertenecen a un plan gratuito. Disfuten del contenido, pero no esperen que la velocidad sea la seña de identidad para este proyecto.
    </p>

    <a
      class="btn btn-primary btn-lg"
      type="button"
      href="/publicaciones"
      style="margin-top: 5vh"
    >
      ver todas las publicaciones {{valores.saludo}}
    </a>
  </div>
</main>
<script>
  loadCaptcha();
</script>

{% if valores.footer == True %} {% include "sitio/footer.html"%} {% endif %}
