{% include "sitio/header-sitio.html" %}
<div class="ancho-total">
 {% if publicaciones %}
        {% if  publicaciones|length > 1 %}
       
       <button class="info info-total">Total: {{count}} publicaciones</button>
       {%else%}
       <div style="text-align: center;">
        <a href="/publicaciones">
       <button type="button" class="btn btn-outline-secondary" style="width: fit-content;margin-bottom:40px" >
        Ver todas las publicaciones
       </button>
       </a>
       </div>
       
       {%endif%}
  <img
          id="blog"
          title="Menú de opciones"
          onclick="mostrar_menu()"
          src="{{url_for('static', filename='/img/blog.png')}}"
          alt="El Blog de Eduardo Cabrera"
        />
        {% if publicaciones %}
       
    <div id="barra-busqueda" class="search-bar-container"  >
      
		<img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/magnifier-256.png" alt="magnifier" class="magnifier" />
		<input id="search" autocomplete="off" type="text" class="input" placeholder="Search..." />
		<img   src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-25-256.png"  alt="mic-icon" class="mic-icon" />
  	
  
  </div>
    {% endif %}
    <main id="contenido" >
       
     
   <div   class="container-fluid  margin-sup "  >
        
      <div id="loop" class="row" style="text-align: center;margin-left:30px;margin-right:30px">
      
       
        {% for post in publicaciones %}
          {% if  publicaciones|length > 1 %}
         
        <div class="col-md-4 "  >
         <div class="card "  style="height: 55vh;margin-bottom:3vh">
            

          <div class="card-body fit" style="position: relative">
            <h4 class="card-title">{{post[1]}}</h4>
            <p class"indice-mayor" id="{{valores.URL}}/publicaciones_portitulo/{{post[1]}}" onclick="portapapeles(this.id)" class="card-text url-clip"><strong>Copy Url de este post</strong> </p>
              <div class="centrar_imgen_card">          
          <img   onclick="publicacion('/post/{{post[5]}}')" class="card-img-top " src="/img/{{post[2]}}" alt="post" />
                </div> 
            
            
          </div>
         </div>
       
        </div>
            

             {% elif post[5] !="" %}
             <div  class="container-fluid ancho-movil" style="text-align: center;">
               <iframe id="publicacion"   onclick="publicacion('/post/{{post[5]}}')" src="/post/{{post[5]}}"  width="100%" onload='resizeIframe(this)' frameborder="0" ></iframe>
             </div>  
            {% endif %}
          {% endfor %}
          
           {% if  publicaciones|length > 1 %}
                
       <div class="row justify-content-md-center ">
        <div class="paginacion">
          
          {{ pagination.links }}
        </div>
      </div>
      
      
          {% endif %}
           {% endif %}
        
      </div>
        <div class="ancho-movil"style="text-align: center;">
<iframe id="publicacion"   style="display:none;"src=""  frameborder="0"  width="100%" onload='resizeIframe(this)'>
</iframe>
</div>
  </div>
    {% if not publicaciones %}
    <h1 style="text-align:center; margin-top:60px">Consulta sin contenido</h1>
     <div style="text-align:center; margin-top:60px">
      <a href="/">  <button  type="button" class="btn btn-dark" data-mdb-ripple-init>Volver</button></a>
      
    </div>
   
    {% endif %}
       {% include "sitio/footer.html"%}
        <a href='#' class='scroll-top'>
    <svg height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'>
       <path d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/>
       <path d='M0 0h24v24H0z' fill='none'/>
    </svg>
</a>
 

<input class="sr-only" id="aside-ctrl" type="checkbox" />

<label class="aside-ctrl--reset" for="aside-ctrl"></label>
<aside id="aside" class="aside">
  <label class="aside-ctrl--label" for="aside-ctrl"></label>
  <div id="aside-contenido">
  </div>
</aside>
</div>
    </main>
 
 {% include "sitio/footer.html"%}
  
 