{% include "sitio/header.html" %}
    <main >
   <div  class="container margin-sup animate__animated animate__fadeIn animate__delay-6s" >
    
      <div class="row" style="margin-bottom:50px">
        {% if publicaciones %}
        {% for post in publicaciones %}
         {% if  loop.length>1 %}
        <div class="col-md-4" >
         <div class="card"  style="height: 55vh;margin-bottom:5vh">
        
          
         

          <div class="card-body" style="position: relative">
            <h4 class="card-title">{{post[1]}}</h4>
            <p id="{{valores.URL}}/publicaciones_portitulo/{{post[1]}}" onclick="portapapeles(this.id)" class="card-text url-clip"><strong>Copy Url de este post</strong> </p>
                         
          <img onclick="publicacion('/post/{{post[5]}}')" class="card-img-top img-responsive center-block" src="/img/{{post[2]}}" alt="post" />
        
            
            <a name="" id="" class="btn btn-primary" style="position:absolute;bottom:10px;display:none"  role="button"  >Ver publicación</a>
            
          </div>
         </div>
       
        </div>
             {% elif post[5] !="" %}
               <iframe id="publicacion" onclick="publicacion('/post/{{post[5]}}')" src="/post/{{post[5]}}" style="width:100%; height:6000px" frameborder="0" ></iframe>

            {% endif %}
          {% endfor %}
          {% endif %}
        
      </div>
<iframe id="publicacion"  style="display:none"src=""  frameborder="0" height="100%" width="100%">
</iframe>
  </div>
    {% if not publicaciones %}
    <h1 style="text-align:center; margin-top:60px">no existen publicaciones</h1>
    {% endif %}
       {% include "sitio/footer.html"%}
    </main>
 
    
  