<div class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); display: flex; justify-content: center; align-items: center; z-index: 1000;">
    <div class="captcha-container" style="position: relative; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; max-width: 90%;">
        <p class="captcha-text" style="font-family: Arial, sans-serif; font-size: 1.2em; margin-bottom: 20px; color: #333;">
            Selecciona la imagen que deduces más ajustada a: <strong>{{ contenido_foto }}</strong>
        </p>
        <div class="captcha-images" style="display: flex; flex-flow: row wrap; justify-content: center; gap: 10px;">
            {% for foto in lista_de_fotos %}
                <img style="max-width: 150px; max-height: 150px; object-fit: contain; border: 2px solid #ccc; border-radius: 5px; cursor: pointer; transition: border-color 0.3s; background-color: #333;"
                    src="/static/img/captcha/{{ foto }}" 
                    alt="Imagen CAPTCHA" 
                    hx-post="/validar_captcha"
                    hx-vals='{"nombre_archivo": "{{ foto }}", "contenido_foto": "{{ contenido_foto }}"}'
                    hx-target="#resultado"
                    hx-swap="outerHTML"
                    hx-trigger="click"
                    hx-on::before-request="gestionarIntentos()">
            {% endfor %}
        </div>
        <div id="resultado">
            <p>---</p>
        </div>
    </div>
</div>

<script>
function gestionarIntentos() {
    let intentos = localStorage.getItem('intentos_fallidos');
    if (!intentos) {
        intentos = 1;
        localStorage.setItem('intentos_fallidos', intentos);
    } else {
        intentos = parseInt(intentos);
        if (intentos < 3) {
            intentos += 1;
            localStorage.setItem('intentos_fallidos', intentos);
        }
    }
    if (intentos >= 3) {
        document.querySelectorAll('[hx-post="/validar_captcha"]').forEach(img => {
            img.setAttribute('hx-post', '/esperar');
        });
    }
}
</script>