

<script>
    $(document).ready(function(){
     

setTimeout(function(){
    document.getElementById('audio').setAttribute("src", "../../static/audio/{{source}}");
    document.getElementById('audio').style.display="block"
    document.getElementById('audio').play()
    document.getElementById('caja-buscar').focus()
}, 1000);
})



</script> 


   


<div class="padre-flex-center">
<audio  style="display: none; margin-bottom: 1em; margin: 0 auto;" id="audio" controls></audio>
    <source  src="">
    </audio>
 </div>


