@media only screen and (max-width: 1200px) {
  #contenedor {
    min-width: 95%;
  }
  #card-cat {
    display: inline-block;
    
  }
   .card {
   max-width: 60vw !important;
   margin: 3px;
  } 
}

.texto-entrada {
  font-size: 16px !important;
  padding-top: 3vh;
}
#foto_about {
  top: 0vh !important;
}
iframe {
  overflow-x: hidden;
  min-height: 100vh !important;
  min-width: 100vw !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
 .card {
  background-color: chocolate;
  min-width: 20vw !important;
  max-width: 100vw !important;
  
  margin: 0 auto;
  margin-bottom: 1vh;
} 

.card-img-top {
  height: 75vh;
  max-width: 80%;
  right: 2px !important;
  left: 2px !important;
}
.menu_navegador {
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 30px;
}
.margin-sup {
  margin-top: 5px;
}
#owner {
  display: none;
}

#no-table table,
#no-table thead,
#no-table tbody,
#no-table th,
#no-table td,
#no-table tr {
  display: block;
}
#no-table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#no-table tr {
  border: 1px solid #ccc;
}
#no-table td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 30%;
  white-space: normal;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
#no-table td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}
#no-table td:before {
  content: attr(data-title);
}

#tabla-id,
.tabla-imagen {
  background-color: beige;
}

#tabla-nombre,
#tabla-descarga {
  background-color: rgb(241, 241, 86);
  padding: 5px;
}

@media only screen and (max-width: 700px) {
  #blog {
    display: flex;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  .card {
   
    min-width:70vw !important;
    max-width: 70vw !important;
   
   
  
}
}
@media only screen and (max-width: 900px) {
  #foto_about {
    width: 13vw !important;
    top: 0vh !important;
    display: flex !important;
  }
  .card {
   
    min-width: 70% !important;
    max-width: 70% !important;
    margin: 0 auto;
    border: solid 2px black;
     min-height: 80vh !important;
    
    position: relative;
    bottom: 0;
    overflow: hidden;
  }
  .card-img-top {
    height: 70%;
    position: absolute;
    bottom: 0;
  }
  #blog {
    display: block;

    top: 0vh !important;
  }
  #loop {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .device-menu {
    right: 10px !important;
    top: 10px !important;
    border: solid 3px white;
    display: block !important;
  }
  a.scroll-top {
    right: 10px !important;
    top: 60px !important;
    border: solid 3px white;
  }

  .presentacion {
    min-width: 100% !important;
  }

  .fp-slim {
    width: 80% !important;
  }
}

@media only screen and (max-width: 500px) {
  #foto_about {
    width: 25vw !important;
    top: 3vh !important;
  }
}

@media only screen and (max-width: 400px) {
  #blog {
    display: none;
  }
  .info {
    display: none;
  }
}

table tbody tr:nth-child(odd) {
  background: #fff5e0;
}
table tbody tr:nth-child(even) {
  background: #fdf8ef;
}
html {
  position: relative;
  background-image: url('/static/img/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  /*  animation: fadeIn; 
    animation-duration: 2s; 
    */
}
body {
  position: relative;
  background-color: transparent;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.ancho-total {
  width: 100vw !important;
  overflow-x: hidden !important;
}
#publicacion {
  min-width: 100% !important;
  margin-left: 0% !important;
}

#foto_about {
  position: absolute;
  top: 1vh;
  right: 5vw;
  width: 20vw;
  cursor: pointer;
}

#no-table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoom {
  width: 200px;
  height: 200 auto;
}

.menu_navegador {
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 30px;
}

html::-webkit-scrollbar {
  display: none;
}

.margin-sup {
  margin-top: 5px;
}

.card-img-top {
  height: fit-content;
  object-fit: contain;
  max-width: 92%;
  max-height: 60%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  z-index: 1 !important;
}

 .card {
  background-color: whitesmoke;
 
  opacity: 0.7;
  min-width: 80vw;
 
  animation: fadeIn;
  animation-duration: 2s;
} 
.card:hover {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
}

.url-clip {
  cursor: pointer;
  color: #1b75ce;
}

.mynav {
  background-color: rgb(92, 90, 88);
}
h1 {
  color: black;
  font-weight: bold;
}
#blog {
  cursor: pointer;
  height: 80px;
  margin-left: 6vh;
}

.fondo {
  background-color: transparent;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contenedor-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.texto-entrada {
  font-size: 20px;
  text-align: justify;
}
.presentacion {
  margin-top: 1vh;
}

.header-holder {
  width: 100%;

  z-index: 4;
  overflow: hidden;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  z-index: 5;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .logo {
  width: 70px;
  height: 70px;
  display: block;
  background-image: url('/static/img/favicon-100x100.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  order: 1;
}

.sociales {
  position: absolute;
  top: -5px;
  right: 50px;
  z-index: 6;
}

.search-mobile {
  /*     display: none; */
  position: absolute;
  top: -5px;
  right: 50px;
  z-index: 6;
}

.search-mobile a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 60px;
  position: relative;
}

.search-mobile a .icon_search {
  background: url('https://yalantis.com/assets/icon-search-eb2d80fde29a4eb86770580f52872b64097df105b39901d39abcea6dbc372969.svg')
    no-repeat 0 0;
  width: 25px;
  height: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.header-nav {
  order: 2;
}

.header-nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.97);
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  animation: fadeIn;
  animation-duration: 1s;
}

.header-nav.active .header-nav__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  height: 100%;
  overflow: auto;
}

nav.active ul {
  width: 100%;
  text-align: center;
  padding: 0;
  overflow: hidden;
  display: block;
}

nav.active ul li {
  padding: 20px 0;
}

nav ul {
  padding: 8px 0 0 0;
  display: none;
}

nav ul li {
  padding: 0 0 0 13px;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  font-family: 'BrandonText', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 17px;
  color: white;
  text-transform: uppercase;
  padding: 5px 8px;
  letter-spacing: 0.9px;
  position: relative;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

nav ul li a:hover {
  color: orange;
  transition: color 0.3s ease-in-out;
}

.device-menu {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 55px;
  height: 50px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.6);
  width: 45px;
  height: 40px;
}

.device-menu .device-menu__inner {
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.device-menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: white;
  top: 5px;
  left: 0;
  /*     -webkit-transform: rotate(45deg);
  transform: rotate(45deg); */
}

.device-menu span:nth-child(1) {
  top: 0;
  -webkit-transition: rotate, 0.3s;
  transition: rotate, 0.3s;
}

.device-menu span:nth-child(2) {
  top: 50%;
  /*     -webkit-transform: translate(0, -50%); */
  /*     transform: translate(0, -50%); */
}

/* .device-menu.open span:nth-child(2) {
opacity: 0;
} */

.device-menu span:nth-child(3) {
  top: 100%;
  -webkit-transition: rotate, 0.3s;
  transition: rotate, 0.3s;
}

.device-menu.open span:nth-child(1) {
  top: 10px;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.device-menu.open span:nth-child(2) {
  opacity: 0;
}

.device-menu.open span:nth-child(3) {
  top: 10px;
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* @media only screen and (max-width: 1024px) { */
/*   @media only screen and (max-width: 2000px) {
.head {
display: none; 
}

.head.active {
display: block;
}

.device-menu {
display: block;
}
} */
a.scroll-top {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 100px; /** Sepración inferior **/
  right: 40px; /** Separación derecha **/
  padding: 0.3em; /** Relleno **/
  background: #242424; /** Colo de fondo **/
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px, rgba(0, 0, 0, 0.25) 0 1px 7px; /** Sombra **/
  border-radius: 5px; /** Borde redondeado **/
}
a.scroll-top svg {
  display: block;
  fill: #fff; /** Color del icono **/
}

.paginacion {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select2-container .select2-selection {
  width: fit-content;
  overflow: scroll;
  min-height: 100px;
  padding-bottom: 50px;
}

.select2-selection__choice__display {
  color: #1b75ce;
}

.search-bar-container {
  display: flex;
  display: inline-flex;
  align-items: center;
  background-color: rgb(228, 228, 233);
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
  margin: 17px;
  position: relative;
  transition: width 0.6s;
}

.info {
  position: fixed;
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  align-items: center;
  cursor: auto !important;
  background-color: rgb(228, 228, 233);

  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
}
.info-tags {
  position: relative;
  width: fit-content;
  margin: 5px;
  height: fit-content;
  align-items: center;
  cursor: pointer;
  background-color: rgb(228, 228, 233);
  z-index: 2;

  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
}

.info-title {
  position: relative;
  width: fit-content;
  padding-left: 59px;
  padding-right: 59px;
  height: fit-content;
  align-items: center;
  cursor: pointer;
  background-color: rgb(228, 228, 233);
  z-index: 2 !important;

  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
}

.arriba {
  transform: scale(0.5);
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0px;
}
.card-cool {
  align-items: center;
  cursor: auto !important;
  background-color: rgb(228, 228, 233);

  border-radius: 50px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
}
#card-cat {
  max-height: 50px !important;
}

.info-total {
  top: 3vh;
  right: 10vw;
}
.info-busqueda {
  top: 8vh;
  right: 10vw;
}

.magnifier {
  width: 30px;

  cursor: pointer;
  position: absolute;
  left: 12px;
  z-index: 99;
  transition: 0.4s all ease;
}

.magnifier:hover {
  transform: scale(1.1);
}

.mic-icon {
  cursor: pointer;
  width: 0;
  position: absolute;
  right: 10px;
  transition: width 0.4s;
  transition-delay: 0.2s;
}

.input {
  background-color: transparent;
  width: 100%;
  border: none;
  margin: 10px 50px;
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 0.5s;
  transition-delay: 0.4s;
}

.active.search-bar-container {
  width: 350px;
}

.active .input {
  width: 100%;
}

.active .mic-icon {
  width: 30px;
}

#categorias {
  min-width: 200px;
}

.ancho-movil {
  width: 100% !important;
}
.indice-mayor {
  /*   z-index: 999 !important; */
  padding-bottom: 190px !important;
}

