

@media only screen and (max-width: 1200px) {
  #contenedor{
    min-width:100%;
  }
  .menu_navegador{
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .margin-sup{
  margin-top:300px;
}
 #owner{
  display: none;
 }
  
  #no-table table,
  #no-table thead,
  #no-table tbody,
  #no-table th,
  #no-table td,
  #no-table tr {
    display: block;

  }
  #no-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-table tr {
    border: 1px solid #ccc;
   
   
  }
  #no-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
    white-space: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  #no-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  #no-table td:before {
    content: attr(data-title);
  }

  #tabla-id,.tabla-imagen{
    background-color: beige;
    
  }
 
 
  #tabla-nombre, #tabla-descarga{
    background-color: rgb(241, 241, 86);
    padding: 5px;
  }



}

table tbody tr:nth-child(odd) {
	background: #fff5e0;
}
table tbody tr:nth-child(even) {
	background: #fdf8ef;
}
html,body,main,.container{
  background-color:  #1B75CE;
  
}
  header{
    position: sticky;
    top:0px;
    left:0px;
border:10px solid #1B75CE;
display:inline-block;
width: 100%;
z-index:9999;

     
   
  }

  #foto_about{
    position: absolute;
    top:20px;
    right:50px;
    border-radius:150px;
  }

  #no-table td {
    overflow: hidden;
    text-overflow: ellipsis ;
    
  }

  .zoom {
 
  
  width: 200px;
  height: 200 auto;
  
}

 .menu_navegador{
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 30px;
  }
  


  html::-webkit-scrollbar {
    
    display: none;  
}


.margin-sup{
  margin-top: 100px;
 
}

.card-img-top {
  width: 100%;
  max-height: 12vw;
  object-fit: contain;
  cursor: pointer;
  
}


