 {% include "admin/header.html" %}
 
    <main>
      {% for post in publicaciones%}
      {% if  loop.length==1 %}
      
      <span id="jinja-ready" onclick='alerta(event,{{post[4] | tojson}})'</span>
   
     <div class="container margin-sup">
      <div class="row">
        <div class="col-md-5" >
          <div class="card text-white bg-primary mb-3" style="min-height:90vh !important">
            <div class="card-header">
              Editar datos de este post 
            </div>
            <div class="card-body" >
             <form id="update-form"  action="/admin/publicaciones/update" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <input type="text" style="display: none;" class="form-control" value="{{post[0]}}" name="id_post" id="id_post">

                    <label for="name_libro" class="form-label">Nombre del Post</label>
                    <input type="text" class="form-control" value="{{post[1]}}" name="name_post" id="name_post" placeholder="Ingresa nombre">
                 </div>
                  <div class="mb-3">
                    <label for="name_imagen_post" class="form-label">Imagen de la publicación {{post[2]}}</label>
                    <input type="file" class="form-control"   name="name_imagen_post" id="name_imagen_post" placeholder="Ingresa archivo imagen">
                    <input type="text" style="display:none" class="form-control" value="{{post[2]}}" name="old_name_imagen_post" id="old_name_imagen_post" >
                  </div>
                  <div class="mb-3">
                    <label for="html_publicacion" class="form-label">Plantilla html de la publicación  {{post[5]}}</label>
                    <input type="file"  class="form-control"  name="html_publicacion" id="html_publicacion" placeholder="Ingresa Archivo html">
                    <input type="text" style="display:none" class="form-control" value="{{post[5]}}" name="old_html_publicacion" id="old_html_publicacion" >

                  </div>
                  <p id="anterior_seleccion_categorias"> {{post[4]}} </p>
                 
                 <select id="categorias"name="categorias"class="categorias form-control"  tags="true"  multiple="multiple">>
            
           
            <option selected="selected">Todo</option>
                                                       
          </select>
                   <input type="hidden" name="tags" id="tags"></input>
                  <div class="d-flex justify-content-center" style="margin-top:60px">
                 <button
                  type="submit"
                  class="btn btn-primary"
                  
                 >
                  Update  Post
                 </button>
                </div>
                 
                </form>   
            </div>
             <div class="card-footer">
             
            </div>
          </div>
          
          
        </div>


        <div class="col-md-7" >
           <div class="container" >
  <div class="row">
    <div class="col-md-12">
      
      {% if publicaciones %}
      <h2 class="text-center">
          Tabla listado de publicaciones
      </h2>
      {% endif %}
    </div>
    <div id="no-table" >
       {% if publicaciones %}
      <table BORDERCOLOR=black class="col-sm-12 table-bordered table-striped table-condensed cf">
        <thead class="cf" >
          <tr style="color:white">
            <th>id</th>
            <th>nombre</th>
            <th>imagen</th>
            <th>plantilla html</th>
             <th>categorias</th>
            <th>acciones</th>
           </tr>
        </thead>
        <tbody>
           
           {% for post in publicaciones %}
                <tr>
                
                <td id="tabla-id"data-title="ID">{{post[0]}}</td>
                  
                <td id="tabla-nombre"data-title="nombre">{{post[1]}}</td>
                <td class="tabla-imagen" data-title="imagen" style="overflow:hidden">
                   
                     <img class="zoom "  src="/img/{{post[2]}}" class="img-fluid rounded-top" alt="imagen post" />
                     
                    
               
                <td id="tabla-descarga" data-title="url descarga">{{post[3]}}</td>
                <td id="categorias" data-title="categorias">{{post[4]}}</td>
                <td data-title="acciones">
                  <form action="/admin/publicaciones/borrar" method="post">
                    <input  style="display:none" value="{{post[0]}}" type="text" name="id_borrar" id="id_borrar">
                   <input  style="display:none" value="{{post[2]}}" type="text" name="borrarimagen" id="borrar_imagen">
                   <input  style="display:none" value="{{post[3]}}" type="text" name="borrarhtml" id="borrar_html"> 
                   <button type="submit"class="btn btn-danger" style="min-width:140px;margin:10px">
                        Borrar Post
                      </button>
                                        
                  </form> 

                  <form action="/admin/publicaciones/editar" method="post">
                    <input  style="display:none" value="{{post[0]}}" type="text" name="id_editar" id="id_editar">
                   
                      <button type="submit"class="btn btn-danger" style="min-width:140px;margin:10px">
                        Editar Post
                      </button>
                                        
                  </form> 
                
                             
                </tr>  
              {% endfor %}
        </tbody>
      </table>
      {% else %}
      <img
        src="{{ url_for('static', filename='img/toxic.jpg' ) }}"
        class="img-fluid rounded-top"
        alt=""
      />
      
       {% endif %}
       
    </div>
  </div>
</div>
        </div>
        {% else %}
        <h1>no hay nada que editar</h1>
    
        {% endif %}
        {% else %}
        <h1>no hay nada que editar</h1>

        {% endfor %}
     
    </main>
   
    

    {% include "admin/footer.html"%}
       <script>
     $( document ).ready(function() {
           todas_las_categorias_lectura()
         });
        
   

function todas_las_categorias_lectura() {
  
    $.ajax({
      type: 'GET',
      url: '/todas_las_categorias',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      cache: false,
      success: function (result) {
        for (item of result) {
          if ($('#categorias').find("option[value='" + item + "']").length) {
            console.log('ya existe');
          } else {
            // Create a DOM Option and pre-select by default
            var newOption = new Option(item, item, false, false);
            // Append it to the select
            $('#categorias').append(newOption).trigger('change');
          }
        }
       
      },
    });
    $( document ).ready(function() {
       
         array=$('#anterior_seleccion_categorias').text()
         array=array.split(",")
      
        
         for (item of array) {
        var newOption = new Option(item, item, true, true);
            // Append it to the select
            $('#categorias').append(newOption).trigger('change');   
             
             
   
        }
        

     });
    
  }
  
 

  




 </script>