 {% include "admin/header.html" %}
   
    <main style="position:relative;margin-top:50px;min-width:60%">
      <div class="container" >
        
        <div
          class="row justify-content-center align-items-center g-2"
        >
          <div class="col-md-4"></div>
          <div class="col-md-4">
             {% if session['usuario']=="Admin" %}
          <p class="col-md-8 fs-4" style="color:white">
            Usted ya está logeado
          </p>
          {% else %}
            <div class="card">
              <div class="card-header">Inicio de sesion</div>
              <div class="card-body">
                <form action="/login" method="post">
                  <div class="mb-3">
                    <label for="user" class="form-label">usuario</label>
                    <input type="text" class="form-control" name="user" id="user">
                 </div>
                  <div class="mb-3">
                 <label for="pass"class="form-label">contraseña</label>
                 <input type="password" class="form-control" name="pass" id="pass" placeholder="escriba contraseña">
                  </div>
                  <div class="d-flex justify-content-center" style="margin-top:60px">
                  <button type="submit" class="btn btn-success" style="width: 120px;">Enviar</button>
                   </div>
                  
                </form>  
                
              </div>
              <div class="card-footer text-muted">Footer</div>
            </div>
            {% endif %}
            
          </div>
          <div class="col-md-4"></div>
        </div>
        
      </div>
      
    </main>
    {% include "admin/footer.html"%}