

<!------------------------ MODO DE USO EN HTML Text to Speech ------------------>  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Edu</title>
</head>

<body>
    <div style="display:grid;place-content:center">
   
      <div 
        hx-get="https://blog-edu-tech.koyeb.app/generar_audio/Este texto se convertirá en audio" 
        hx-trigger="load" 
        hx-swap="innerHTML">
        <script src="https://unpkg.com/htmx.org"></script>
      </div>
     
       
    </div>
   
</body>
</html>

  
 
  
 

